body {
  background: #008080;
  font-family: "MS Sans Serif";
  user-select: none;
  cursor:default !important;
}

.taskbar {
  position:fixed;
  bottom: 0px;
  left: 0px;
  right:0px;
  height: 26px;
  background:#c0c0c0;
  border: outset 2px;
}

.taskbar .start {
  position:absolute;
  top: 1px;
  bottom: 1px;
  border:outset 2px;
  font-weight: 600;
  font-size: 14px;
  padding: 2px 5px;
  padding-left: 26px;
}
.taskbar .time {
  position:absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;
  border:inset 2px;
  font-size: 14px;
  padding: 2px 7px;
}
.taskbar .start img {
  position:absolute;
  top: 3px;
  bottom: 3px;
  left: 2px;
  height: 14px;
}

.taskbar .task{
  position:absolute;
  top: 1px;
  bottom: 1px;
  left: 70px;
  border:outset 2px;
  font-weight: 600;
  font-size: 14px;
  padding: 2px 10px;
}
.taskbar .task.active{
  border:inset 2px;
}

.bf{

  display: none;

    
}

.bf img {

  z-index: 5;
}


#mySoundClip{

  display: none;

}
.container {

    grid-row: 1/4;
    position: relative;
    top: 4%;
    width: 183%;
    left: 73%;

}
.container img {


    width: 73%;

}
h1{

    position: absolute;
    font-family: "Trebuchet MS";
    z-index: 3;
    top: 7%;
    left: 12%;
    font-size: 2vw;
    font-weight: 500;
    color: #008081;
    font-style: italic;


}
#name {

    position: absolute;
    left: 12%;
    top: 30%;
    border: none;
    width: 26%;
    height: 2%;
    outline: none;

}
#email {

    position: absolute;
    left: 12%;
    top: 37%;
    border: none;
    width: 26%;
    height: 1.8%;
    outline: none;

}
#objet {

    position: absolute;
    left: 12%;
    top: 44%;
    border: none;
    width: 26%;
    height: 1.8%;
    outline: none;

}
textarea {
  
    position: absolute;
    left: 1%;
    top: 50%;
    border: none;
    width: 66%;
    height: 38.8%;
    outline: none;
    overflow: hidden;

}

button {

    position: absolute;
    width: 19%;
    height: 6%;
    left: 2.5%;    
    top: 12.2%;
    font-family: "pix M 8pt Regular";
    background-color: #c0c0c0;
    font-size: 0.8vw;
    outline: none;
}

.wrapper {


    display: grid;
    grid-template-columns: 1fr 2fr;

}



.container_1 {  
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.fixation {

    position: fixed;
    top: 38px;
    left: 0px;
    width: 52%;
    padding-left: 0px;
    z-index: 0;

}

.tab_1 {

    display: flex;
    justify-content: center;
    width: 30%;
    font-family: "pix M 8pt Regular";
    color: white;    
    margin: 0px;
    z-index: 0;
   

}
.tab_1 ul {

    flex-wrap:wrap;
    justify-content:space-between;
    list-style-type: none;
    line-height: 8vh;
    font-size: 1.6vh;
    margin-bottom: 10%;
    text-align: center;
}
.tab_1 ul li {

    margin-top: 30px;

}
a {

    text-decoration: none;
    color: white;
}



.tab_1 .images{

    display: flex;
    flex-direction: column;
    line-height: 28px;
    padding: 0px;
    position: relative;
    right: 82px;
    top: -45px;


} 
.tab_1 .images li{

    position: relative;
    top: 10px;

} 

img {

    height: 94%;
    width: 50%;
}
.newbarre {


    display: block;
    position: absolute;
    bottom: 25px;
    left: -3px;    
    width: 319px;
}

.newbarre img {

    z-index: 1;
    width: 57%;



}
.fixation_2{
    position: fixed;
    bottom: 27px;
    left: 17px;
}
.logos{

    display: none;

}





/*
        ----------------- MEDIA QUERY -------------------
*/

    @media (max-width:1200px){


 .container {

    grid-row: 1/4;
    position: relative;
    top: 8%;
    width: 209%;
    left: 73%;
}

  .bloc1{

        display: none;

    }


.logos{

    display: block;
    position: relative;

}
.logos .task_1{
    position: absolute;
    font-family: "MS Sans Serif";
    top: 0px;
    left: 74px;
    border: outset 2px;
    font-weight: 600;
    font-size: 12px;
    padding: 4px 5px;
}


.logos .task_2{

    position: absolute;
    font-family: "MS Sans Serif";
    top: 0px;
    left: 141px;
    border: outset 2px;
    font-weight: 600;
    font-size: 12px;
    padding: 4px 5px;
}
.logos .task_3{

    position: absolute;
    font-family: "MS Sans Serif";
    top: 0px;
    left: 188px;
    border: outset 2px;
    font-weight: 600;
    font-size: 12px;
    padding: 4px 5px;
}
.logos .task_4{

    position: absolute;
    font-family: "MS Sans Serif";
    top: 0px;
    left: 269px;
    border: outset 2px;
    font-weight: 600;
    font-size: 12px;
    padding: 4px 5px;
}

.logos .task_1:hover{
    
      border:inset 2px;   
}
.logos .task_2:hover{
    
      border:inset 2px;   
}
.logos .task_3:hover{
    
      border:inset 2px;   
}
.logos .task_4:hover{
    
      border:inset 2px;   
}




}


/* END OF MEDIA QUERY  1200px */

    













@media (max-width:850px){

     .bloc1{

        display: none;

    }


    body {

    background-color: #008080;
    
    }

   

    .taskbar{

        position: fixed;

    }


    .container {
    grid-row: 1/4;
    position: relative;
    top: 28%;
    width: 346%;
    left: 16%;
}

}

