body {

	background-color:#008081;
    margin: 0;
    padding-right: 80px;

}


.container_1 {	
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
}

.fixation {

	position: fixed;
    top: 38px;
    left: 0px;
    width: 52%;
    padding-left: 0px;
    z-index: 0;

}

.tab_1 {

    display: flex;
    justify-content: center;
    width: 30%;
    font-family: "pix M 8pt Regular";
    color: white;    
    margin: 0px;
    z-index: 0;
   

}
.tab_1 ul {

	flex-wrap:wrap;
	justify-content:space-between;
	list-style-type: none;
	line-height: 8vh;
	font-size: 1.6vh;
	margin-bottom: 10%;
	text-align: center;
}
.tab_1 ul li {

	margin-top: 30px;

}
a {

	text-decoration: none;
	color: white;
}



.tab_1 .images{

	display: flex;
    flex-direction: column;
    line-height: 28px;
    padding: 0px;
    position: relative;
    right: 82px;
    top: -45px;


} 
.tab_1 .images li{

	position: relative;
	top: 10px;

} 

img {

	height: 94%;
    width: 50%;
}

.container2{

    z-index: 5;
}
body {
  background: #008080;
  font-family: "MS Sans Serif";
  user-select: none;
  cursor:default !important;
}


.taskbar {
  position:fixed;
  bottom: 0px;
  left: 0px;
  right:0px;
  height: 26px;
  background:#c0c0c0;
  border: outset 2px;
}

.taskbar .start {
  position:absolute;
  top: 1px;
  bottom: 1px;
  border:outset 2px;
  font-weight: 600;
  font-size: 14px;
  padding: 2px 5px;
  padding-left: 26px;
}
.taskbar .time {
  position:absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;
  border:inset 2px;
  font-size: 14px;
  padding: 2px 7px;
}
.taskbar .start img {
  position:absolute;
  top: 3px;
  bottom: 3px;
  left: 2px;
  height: 14px;
}

.logos{

    display: none;

}



/*
---------------------------------------------------------------------
*/

:root {


/* H2 STYLE */
    
  --h2-font: "Trebuchet MS";
  --h2-color: #403b3b;
  --h2-style: italic;
  --h2-weight: 200;

/* P STYLE */

  --p-color: #000000;
  --p-weight: 200;
  --p-size: 1.0vw;
  --p-line: 3.8vh;

/* h2 STYLE */


    --h3-font:"Trebuchet MS";
    --h3-color: #008081;
    --h3-weight: 200;
    --h3-deco:underline dotted;
    --h3-size:1.1vw;


}






















.container {

  

    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-row-gap: 2%;
    grid-column-gap: 49px;
    min-height: 300px;
    width: 100%;
    margin-top: 43px;



}
  .bloc1{

    /*background:LightSalmon;*/
    grid-row: 1/90;



}
  .bloc2{
    display: grid;
    grid-template-rows: auto;
    position: relative;
    height: 100%;
    order: 1;


    }

    .bloc2 img:nth-child(1){

        position: relative;
        width: 100%;
        height: auto;

    }

 .bloc2 img:nth-child(2) {
    filter: grayscale(100%);
    position: absolute;
    width: 20%
    height:10%;
    right: 9%;
    top: 14%;
    width: 86%;
    height: 51%;
    height: 76%;
}

 .bloc2 img:nth-child(2):hover {
    filter: none;
 
}

.modal-bg {


    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s,opacity 0.5s;

}

.bg-active {


    visibility: visible;
    opacity: 1;
    z-index: 3;

}

.modal {


    position: relative;
    font-family: "MS Sans Serif";
    background-color: white;
    width: 37%;
    height: 30%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    


}

.modal a{

    font-family: "pix M 8pt Regular";
    text-decoration: none;
    color: black;
    position: absolute;
    left: 37%;
    top: 49%;
}



.modal h1{

    font-family: "pix M 8pt Regular";
    color: #008080;
    font-size: 0.9vw;
    position: absolute;
    left: 5%;
    top: 25%;
    

}


.modal-close {

    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

/* ----------------- */

.modal-bg2 {


    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s,opacity 0.5s;

}




.bg-active2{


    visibility: visible;
    opacity: 1;
    z-index: 3;

}

.modal2 {


    position: relative;
    font-family: "MS Sans Serif";
    background-color: white;
    width: 37%;
    height: 30%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    


}

.modal2 a{

    font-family: "pix M 8pt Regular";
    text-decoration: none;
    color: black;
    position: absolute;
    left: 37%;
    top: 49%;
}



.modal2 h1{

    font-family: "pix M 8pt Regular";
    color: #008080;
    font-size: 0.9vw;
    position: absolute;
    left: 5%;
    top: 25%;
    

}


.modal-close2 {

    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}


/* ------------------- */



/* ------------------------ */


.modal-bg3 {


    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s,opacity 0.5s;

}




.bg-active3{


    visibility: visible;
    opacity: 1;
    z-index: 3;

}

.modal3 {


    position: relative;
    font-family: "MS Sans Serif";
    background-color: white;
    width: 37%;
    height: 30%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    


}

.modal3 a{

    font-family: "pix M 8pt Regular";
    text-decoration: none;
    color: black;
    position: absolute;
    left: 37%;
    top: 49%;
}



.modal3 h1{

    font-family: "pix M 8pt Regular";
    color: #008080;
    font-size: 0.9vw;
    position: absolute;
    left: 5%;
    top: 25%;
    

}


.modal-close3 {

    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}




/* -------------------------- */


.modal-bg4 {


    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s,opacity 0.5s;

}




.bg-active4{


    visibility: visible;
    opacity: 1;
    z-index: 3;

}

.modal4 {


    position: relative;
    font-family: "MS Sans Serif";
    background-color: white;
    width: 37%;
    height: 30%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    


}

.modal4 a{

    font-family: "pix M 8pt Regular";
    text-decoration: none;
    color: black;
    position: absolute;
    left: 37%;
    top: 49%;
}



.modal4 h1{

    font-family: "pix M 8pt Regular";
    color: #008080;
    font-size: 0.9vw;
    position: absolute;
    left: 5%;
    top: 25%;
    

}


.modal-close4 {

    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}





/* --------------------------- */



.modal-bg5 {


    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s,opacity 0.5s;

}




.bg-active5{


    visibility: visible;
    opacity: 1;
    z-index: 3;

}

.modal5 {


    position: relative;
    font-family: "MS Sans Serif";
    background-color: white;
    width: 37%;
    height: 30%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    


}

.modal5 a{

    font-family: "pix M 8pt Regular";
    text-decoration: none;
    color: black;
    position: absolute;
    left: 37%;
    top: 49%;
}



.modal5 h1{

    font-family: "pix M 8pt Regular";
    color: #008080;
    font-size: 0.9vw;
    position: absolute;
    left: 5%;
    top: 25%;
    

}


.modal-close5 {

    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}





/* ------------------------- */



.modal-bg6 {


    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s,opacity 0.5s;

}




.bg-active6{


    visibility: visible;
    opacity: 1;
    z-index: 3;

}

.modal6 {


    position: relative;
    font-family: "MS Sans Serif";
    background-color: white;
    width: 37%;
    height: 30%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    


}

.modal6 a{

    font-family: "pix M 8pt Regular";
    text-decoration: none;
    color: black;
    position: absolute;
    left: 37%;
    top: 49%;
}



.modal6 h1{

    font-family: "pix M 8pt Regular";
    color: #008080;
    font-size: 0.9vw;
    position: absolute;
    left: 5%;
    top: 25%;
    

}


.modal-close6 {

    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}




/* ----------------------- */




  .bloc3{
    display: grid;
    grid-template-rows: auto;
    position: relative;
    height: 100%;
    order: 2;


    }

    .bloc3 img:nth-child(1){

        position: relative;
        width: 100%;
        height: auto;

    }

 .bloc3 img:nth-child(2) {

    filter: grayscale(100%);
    position: absolute;
    width: 20%
    height:10%;
    right: 9%;
    top: 14%;
    width: 86%;
    height: 51%;
    height: 76%;
}

 .bloc3 img:nth-child(2):hover {
    filter: none;
}


.bloc4{
    display: grid;
    grid-template-rows: auto;
    position: relative;
    height: 100%;
    order: 3;


    }

    .bloc4 img:nth-child(1){

        position: relative;
        width: 100%;
        height: auto;

    }

 .bloc4  img:nth-child(2) {
    filter: grayscale(100%);
    position: absolute;
    width: 20%
    height:10%;
    right: 9%;
    top: 14%;
    width: 86%;
    height: 51%;
    height: 76%;
}
.bloc4  img:nth-child(2):hover {
    filter: none;
}


.bloc5{
    display: grid;
    grid-template-rows: auto;
    position: relative;
    height: 100%;
    order: 4;


    }

    .bloc5 img:nth-child(1){

        position: relative;
        width: 100%;
        height: auto;

    }

 .bloc5  img:nth-child(2) {
    filter: grayscale(100%);
    position: absolute;
    width: 20%
    height:10%;
    right: 9%;
    top: 14%;
    width: 86%;
    height: 51%;
    height: 76%;
}

 .bloc5  img:nth-child(2):hover {
    filter: none;
}




.bloc6{
    display: grid;
    grid-template-rows: auto;
    position: relative;
    height: 100%;
    order: 5;


    }

    .bloc6 img:nth-child(1){

        position: relative;
        width: 100%;
        height: auto;

    }

 .bloc6  img:nth-child(2) {
    filter: grayscale(100%);
    position: absolute;
    width: 20%
    height:10%;
    right: 9%;
    top: 14%;
    width: 86%;
    height: 51%;
    height: 76%;
}

 .bloc6  img:nth-child(2):hover {
    filter: none;
  
}

.bloc7{
    display: grid;
    grid-template-rows: auto;
    position: relative;
    height: 100%;
    order: 6;


    }

    .bloc7 img:nth-child(1){

        position: relative;
        width: 100%;
        height: auto;

    }

    .bloc7  img:nth-child(2) {
    filter: grayscale(100%);
    position: absolute;
    width: 20%
    height:10%;
    right: 9%;
    top: 14%;
    width: 86%;
    height: 51%;
    height: 76%;
}
  .bloc7  img:nth-child(2):hover {
    filter: none;
}














































































.fixation_2{
    position: fixed;
    bottom: 27px;    
    left: 17px;
}


.bf{

  display: none;

    
}

.newbarre {


    display: block;
    position: absolute;
    bottom: 25px;
    left: -3px;    
    width: 319px;
}

.newbarre img {

    z-index: 1;
    width: 57%;



}


#mySoundClip{

  display: none;

}

.lang {

    top: 95.6%;
    left: 89%;
    position: fixed;
    font-family: "MS Sans Serif";
    border: outset 2px;
    font-weight: 600;
    font-size: 14px;
    padding: 4px 5px;
    
}

.lang a{

    color: black;

}



















































































/*
        ----------------- MEDIA QUERY -------------------
*/

    @media (max-width:1200px){


        .bloc1{

        display: none;

    }

      .container{

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1%;
        max-width: 70%;
        padding-left: 19%;

  
   }

     .bloc3 p{

        top: 23%;
        line-height: 107%;
        font-size: 1.1vw;
  
   }

   .text_6 {

        top: 78%;
   }

   .heading6 {

        top: 74%;
   }

   .img_11{

        top: 76%;

   }
   .heading4 {

    top: 23%;
}
    .text_4 {

    top: 28%;

}
    .img_9 {
   
    top: 25%;
}

.text_5 {
    position: absolute;
    top: 50%;

}



.logos{

    display: block;
    position: relative;

}
.logos .task_1{
    position: absolute;
    font-family: "MS Sans Serif";
    top: 0px;
    left: 74px;
    border: outset 2px;
    font-weight: 600;
    font-size: 12px;
    padding: 4px 5px;
}


.logos .task_2{

    position: absolute;
    font-family: "MS Sans Serif";
    top: 0px;
    left: 141px;
    border: outset 2px;
    font-weight: 600;
    font-size: 12px;
    padding: 4px 5px;
}
.logos .task_3{

    position: absolute;
    font-family: "MS Sans Serif";
    top: 0px;
    left: 188px;
    border: outset 2px;
    font-weight: 600;
    font-size: 12px;
    padding: 4px 5px;
}
.logos .task_4{

    position: absolute;
    font-family: "MS Sans Serif";
    top: 0px;
    left: 269px;
    border: outset 2px;
    font-weight: 600;
    font-size: 12px;
    padding: 4px 5px;
}

.logos .task_1:hover{
    
      border:inset 2px;   
}
.logos .task_2:hover{
    
      border:inset 2px;   
}
.logos .task_3:hover{
    
      border:inset 2px;   
}
.logos .task_4:hover{
    
      border:inset 2px;   
}

.lang {


    left: 86%;

}


}


/* END OF MEDIA QUERY  1200px */

    













@media (max-width:850px){


    body {

    background-color: #008080;
    
    }

    .container{

        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1%;
        max-width: 70%;
        padding-left: 19%;

  
   }


    .bloc1{

        display: none;

    }

    .bloc2{

         justify-self: center ;
         grid-row: auto;

    }
 
  
    .bloc2 img:nth-child(2) {
        position: absolute;
        top: 13%;
        width: 80%;
        height: 77%;
       
}

    .bloc3 p {

       
        font-size: 2.0vw;
        line-height: 132%;
        top: 25%
   
}
    .bloc3 h2{

        font-size: 4vw;        

    }

    .taskbar{

        position: fixed;

    }


    .bloc3 {

        grid-row: 1/3;
    }

    .bloc4 h2 {
    top: 15%;
    font-size: 3vw;
}
.heading1 {
    top: 27%;
    font-size: 2vw;
}

.text_1 {
    top: 35%;
    font-size: 2vw;
}
.img_4 {
   
    top: 30%;
}
.heading2 {
    top: 50%;
    font-size: 2vw;
}
.text_2 {
    top: 56%;
    font-size: 2vw;
}
.img_5 {
    top: 54%;
}
.heading3 {
    top: 71%;
    font-size: 2vw;
}
.text_3 {
    top: 78%;
    font-size: 2vw; 
}
.img_6 {
  
    top: 74%;
}
.bloc5 h2 {

    font-size: 3vw;

}

  .heading4 {
    top: 23%;
    font-size: 2vw;
}

.text_4 {
    top: 28%;
    font-size: 2vw;
}
.heading5 {
    top: 48%;
    font-size: 2vw;
}
.text_5 {
    position: absolute;
    font-size: 2vw;
    top: 53%;
}
.img_10 {
  
    top: 50%;
}
.text_6 {
    top: 78%;
    font-size: 2vw;
}
.heading6 {
    top: 74%;
    font-size: 2vw;
}

.logos .task_1 {
 
    left: 63px;
   
}

.logos .task_2 {
 
    left: 133px;   
}
.logos .task_3 {
 
    left: 178px;
}
.logos .task_4 {

    left: 257px;
    
}

.lang {


    top: 95.3%;
    font-size: 12px;
    left: 72%;


}









}




  

